@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab&display=swap');
html,
body {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

//GLOBALE//
body {
    background-color: lighten($cd-primary, 4%);
}

a {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
        text-decoration: none;
    }
}

//\GLOBALE\\