.overview{
    display: flex;
    &_img{
        position: relative;
        margin-left: 1em;
        border-radius: 15px;
        width: 50%;
        img{
            width: 100%;
            object-fit: cover;
            height: 46.3em;
            border-radius: 15px;
        }
        &-price{
            h2{
                margin-bottom: -0.1em;
                font-weight: bold;
            }
            position: absolute;
            background-color: lighten(gold,10%);
            box-shadow: 1px 1px 5px 0px rgba($color: darken(gold,20), $alpha: 1);
            padding: 0.5em 1em 0.5em 1em;
            right: 10px;
            bottom: 5px;
            border-radius: 15px;
            @media all and (max-width: 769px) {
                bottom: -15px;
            }
            @media all and (min-width: 769px) and  (max-width: 992px){
                bottom: 48px;
            }
        }
    }
    &_infos{
        width: 50%;
        margin: 2em 0em 2em 0em;
        &-allcolors{
            margin-bottom: 2em;
            h2{
                margin: 0 0 1em 1em;
                font-size: 1.5em;
                font-weight: bold;
            }
                &-form{
                    border-radius: 15px;
                    margin-top: 2em;
                    text-align: center;
                    label{
                        display: block;
                    }
                    select{
                        background-color: darken(#e4d6f8,6%);
                    }
                }
            &-colors{
                display: flex;
                 justify-content: space-evenly;
                &-bubble{
                    @media all and (min-width: 769px) and (max-width: 992px) {
                        height: 70px;
                        width: 70px;
                    }
                    @media all and (max-width: 576px) {
                        height: 50px;
                        width: 50px;
                    }
                    &:hover{
                        transform: scale(1.1);
                    }
                    border-radius: 50%;
                    height: 100px;
                    transition: 200ms;
                    width: 100px;
                    border: 1px solid gray;
                }
            }
        }
        &-description{
            margin: 2em 1em 2em 1.5em;
            text-align: justify;
        }
        &-materiaux{
            margin-bottom: 2em;
            margin-right: 05em;
            h2{
                margin-left: 1em;
                font-size: 1.5em;
                font-weight: bold;
            }
            
        }
        &-addcart{
            &-button{
                cursor: pointer;
                   @media all and (min-width: 769px) {
                    margin-left: 20%;
                    margin-right: 20%;
                }

                @media all and (max-width: 769px) {
                   margin-left: 15%;
                   margin-right: 15%;
                }
                //transition: 800ms;
                padding: 0.8em;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                background-color: darken(#e4d6f8,6%);
                box-shadow: 1px 1px 5px 0px rgba($color: darken(#e4d6f8,25), $alpha: 1);
                i{
                    font-size: 1.5em;
                    margin-right: 0.5em;
                }
                p{
                    margin: 0;
                }
                &:hover{
                    background-color: darken(#e4d6f8,10%);
                    i{
                        transition: 800ms;
                        background: linear-gradient(-50deg, $cd-secondary, $cd-tertiary);
                        background-clip: text;
                        color: transparent;
                    }
                }
            }
        }
    }
    @media all and (max-width: 769px) {
        flex-direction: column;
        justify-content: center;
        &_img{
            margin-left: 5.8%;
            width: 88%;
            img{
                height: 25em;
                width: 100%;
            }
        }
        &_infos{
            width: 100%;
        }
    }

}