
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Slab&display=swap");
html,
body {
	font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
	overflow-x: hidden
}

body {
	background-color: lightgrey;
}

a {
	color: black;
	text-decoration: none
}

a:hover {
	color: black;
	text-decoration: none
}

@-webkit-keyframes bigup {
	0% {
		transform: rotate(10deg)
	}
	50% {
		transform: rotate(-10deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@keyframes bigup {
	0% {
		transform: rotate(10deg)
	}
	50% {
		transform: rotate(-10deg)
	}
	100% {
		transform: rotate(0deg)
	}
}

@-webkit-keyframes drive {
	0% {
		transform: rotate(0deg)
	}
	1% {
		transform: rotate(390deg)
	}
	2% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes drive {
	0% {
		transform: rotate(0deg)
	}
	1% {
		transform: rotate(390deg)
	}
	2% {
		transform: rotate(360deg)
	}
	100% {
		transform: rotate(360deg)
	}
}

@-webkit-keyframes appearsection {
	from {
		opacity: 0
	}
	to {
		opacity: 1;
		transform: translateX(2%)
	}
}

@keyframes appearsection {
	from {
		opacity: 0
	}
	to {
		opacity: 1;
		transform: translateX(2%)
	}
}

header {
	background-color: floralwhite;
	margin-top: 1em;
	border-radius: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2em
}

header img {
	padding: 0.5em 0.5em 1em;
	max-width: 150px
}

header .cart {
	margin: 1em 3em;
	border-radius: 5px;
	transition: 800ms;
	display: flex;
	padding: 0.5em
}

header .cart p {
	color: black;
	margin-bottom: 0
}

header .cart span {
	color:orange;
	position: relative;
	bottom: 15px;
	left: 5px
}

@media all and (max-width: 330px) {
	header .cart span {
		left: -5px
	}
}

header .cart i {
	margin-top: 0.2em
}

header .cart:hover {
	background-color: #eedfeb
}

header .cart:hover i {
	transition: 800ms;
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	-webkit-background-clip: text;
	background-clip: text;
}

footer {
	background-color:floralwhite;
	border-radius: 15px;
	margin-bottom: 1em
}

footer h3 {
	font-size: 1.5em;
	padding-top: 1em
}

footer p {
	padding-bottom: 1em;
	color: #cf7e48
}

footer .ico {
	padding-bottom: 1em
}

footer .ico a {
	font-size: 2em;
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent
}

.tilte {
	text-align: center
}

.tilte h1 {
	margin-bottom: 0%;
	margin-top: -0.5em;
	font-size: 3.5em
}

.tilte p {
	font-size: 1em
}

.shrink {
	margin: 0em 0.3em 0em 0.3em
}

section {
	margin-bottom: 2em
}

.bg-color-deg {
	background: linear-gradient(-50deg, grey, floralwhite);
	height: auto;
	border-radius: 15px;
	padding: 2em 0em 2em 0em
}

.productCard {
	position: relative;
	background-color: #C9AA75;
	border-radius: 10px;
	height: auto;
	margin-bottom: 1em;
	margin-top: 1em;
	box-shadow: 1px 1px 15px 0px saddlebrown;
	transition: 200ms
}

.productCard:hover {
	transform: scale(1.04)
}

.productCard_img {
	height: 15rem;
}

.productCard_img img {
	border-radius: 15px;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.productCard_caption {
	margin-top: 0%
}

.productCard_caption-upper-name {
	text-align: center
}

.productCard_caption-upper-price {
	position: absolute;
	padding: 0.5em;
	border-radius: 5px;
	background-color: black;
	right: 1.5em;
	top: 200px
}

.productCard_caption-upper-price p {
	font-weight: bold;
	margin-bottom: 0
}

.productCard_caption-lower {
	border: 1px solid transparent
}

.productCard_caption-lower-description {
	margin-left: 1em;
	margin-bottom: 2em
}

.productCard_caption-lower-addtocart {
	width: 100%;
	margin-bottom: 1em;
	background-color: beige;
	border: none;
	border-radius: 0 0 5px 5px;
	padding: 0.3em;
	transition: 500ms;
	text-align: center
}

.productCard_caption-lower-addtocart:hover {
	background-color: #e5cfe0
}

.productCard_caption-lower-addtocart p {
	transition: 500ms;
	text-align: center;
	width: 100%;
	height: 100%;
	margin-bottom: 0
}

.productCard_caption-lower-addtocart p:hover {
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	font-weight: bold
}

.tilte2 {
	text-align: center
}

.tilte2 h1 {
	margin-bottom: 0%;
	margin-top: -0.5em;
	font-size: 3.5em
}

.tilte2 p {
	font-size: 1.5em;
	color: #cf7e48
}

.tilte2_recap {
	display: flex;
	justify-content: center
}

.recapitulatif {
	position: relative;
	min-height: 500px
}

.recapitulatif h2 {
	margin-top: -1em;
	margin-left: 0.5em;
	font-size: 1.5em
}

.recapitulatif_all #emptyBasket {
	margin-top: 205px;
	text-align: center;
	font-size: 2em
}

.recapitulatif_all_each {
	background-color: #C9AA75;
	padding: 0.3em;
	margin-bottom: 1.5em;
	margin-top: 1em;
	display: flex;
	margin-left: 1em;
	margin-right: 1em;
    border-radius: 15px;
}

.recapitulatif_all_each-image {
	height: 8em;
	width: 25%
}

@media all and (max-width: 576px) {
	.recapitulatif_all_each-image {
		width: 30em;
		min-width: 5em
	}
}

@media all and (max-width: 992px) {
	.recapitulatif_all_each-image {
		width: 30em
	}
}

.recapitulatif_all_each-image img {
	border-radius: 15px 0 0 15px;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover
}

.recapitulatif_all_each-infos {
	width: 75%
}

.recapitulatif_all_each-infos-left {
	width: 100%;
	height: 80%
}

.recapitulatif_all_each-infos-left h3 {
	margin-left: 0.6em
}

@media all and (max-width: 360px) {
	.recapitulatif_all_each-infos-left h3 {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 0.5em
	}
}

.recapitulatif_all_each-infos-left p {
	margin-left: 1em;
	width: 80%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.recapitulatif_all_each-infos-left-tab {
	margin-bottom: 0;
	display: flex
}

.recapitulatif_all_each-infos-left-tab-minus {
	margin-left: 0
}

.recapitulatif_all_each-infos-left-tab-minus p {
	cursor: pointer;
	background-color: floralwhite;
	border-radius: 15px 0 0 15px;
	border: 1px solid black;
	text-align: center;
	margin-bottom: 0;
	padding-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1em
}

.recapitulatif_all_each-infos-left-tab-select {
	margin-left: -12px;
	margin-right: -15px
}

.recapitulatif_all_each-infos-left-tab-select p {
	text-align: center;
	background-color: floralwhite;
	border: 1px solid black;
	margin-bottom: 0;
	padding-left: 1em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1em
}

.recapitulatif_all_each-infos-left-tab-plus p {
	cursor: pointer;
	text-align: center;
	background-color: floralwhite;
	border-radius: 0px 15px 15px 0px;
	border: 1px solid black;
	padding-left: 1em;
	margin-bottom: auto;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	padding-right: 1em
}

.recapitulatif_all_each-infos-right {
	width: 100%;
	height: 20%;
	position: relative
}

.recapitulatif_all_each-infos-right-cross {
	position: absolute;
	top: -110px;
	right: 0;
	cursor: pointer
}

@media all and (max-width: 355px) {
	.recapitulatif_all_each-infos-right-cross {
		right: 15px
	}
}

.recapitulatif_all_each-infos-right-cross-info {
	position: absolute;
	white-space: nowrap;
	text-align: center;
	top: -20px;
	right: 20px;
	color: #cf7e48
}

.recapitulatif_all_each-infos-right-price {
	border-radius: 5px;
	background-color: lightblue;
	box-shadow: 1px 1px 5px 0px #b5652f;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-weight: bold
}

.recapitulatif_all_each-infos-right-price p {
	margin-bottom: 0;
	padding: 0.1em
}

.recapitulatif_price {
	background-color: lightblue;
	box-shadow: 1px 1px 5px 0px #b5652f;
	padding: 0.5em 1em 0.5em 1em;
	position: absolute;
	display: flex;
	bottom: 10px;
	right: 15px;
	border-radius: 15px
}

.recapitulatif_price p {
	margin-bottom: 0%
}

.formulaire {
	border-radius: 15px;
	background-color: floralwhite;
}

.formulaire h2 {
	padding-top: 0.5em;
	font-size: 1.5em;
	text-align: center
}

.formulaire-real {
	margin-top: 2em;
	text-align: center
}

.formulaire-real input {
	width: 50%;
	border-radius: 5px;
	margin-right: 0
}

.formulaire-real input:focus {
	border: 3px solid rgba(173, 216, 230, 0.7)
}

.formulaire-real label {
	margin-right: 1em
}

.formulaire-real-button {
	margin-top: 2em;
	padding-bottom: 2em
}

.formulaire-real-button button {
	padding: 0.5em 1em 0.5em 1em;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 5px 0px #add8e6;
	transition: 800ms
}

.formulaire-real-button button:not(:disabled) {
	-webkit-animation: bigup 800ms;
	animation: bigup 800ms;
	background-color: lightblue
}

.formulaire-real-button button:disabled {
	background-color: #f66;
	box-shadow: 1px 1px 1px 0px #f66;
	cursor: not-allowed
}

.wrong {
	background-color: #ffb3b3
}

.error {
	color: red;
	margin-bottom: 0em;
	margin-top: -0.2em
}

.overview {
	display: flex
}

.overview_img {
	position: relative;
	margin-left: 1em;
	border-radius: 15px;
	width: 50%
}

.overview_img img {
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	height: 46.3em;
	border-radius: 15px
}

.overview_img-price {
	position: absolute;
	background-color: #ffdf33;
	box-shadow: 1px 1px 5px 0px #998100;
	padding: 0.5em 1em 0.5em 1em;
	right: 10px;
	bottom: 5px;
	border-radius: 15px
}

.overview_img-price h2 {
	margin-bottom: -0.1em;
	font-weight: bold
}

@media all and (max-width: 769px) {
	.overview_img-price {
		bottom: -15px
	}
}

@media all and (min-width: 769px) and (max-width: 992px) {
	.overview_img-price {
		bottom: 48px
	}
}

.overview_infos {
	width: 50%;
	margin: 2em 0em 2em 0em
}

.overview_infos-allcolors {
	margin-bottom: 2em
}

.overview_infos-allcolors h2 {
	margin: 0 0 1em 1em;
	font-size: 1.5em;
	font-weight: bold
}

.overview_infos-allcolors-form {
	border-radius: 15px;
	margin-top: 2em;
	text-align: center
}

.overview_infos-allcolors-form label {
	display: block
}

.overview_infos-allcolors-form select {
	background-color: lightyellow
}

.overview_infos-allcolors-colors {
	display: flex;
	justify-content: space-evenly
}

.overview_infos-allcolors-colors-bubble {
	border-radius: 50%;
	height: 100px;
	transition: 200ms;
	width: 100px;
	border: 1px solid gray
}

@media all and (min-width: 769px) and (max-width: 992px) {
	.overview_infos-allcolors-colors-bubble {
		height: 70px;
		width: 70px
	}
}

@media all and (max-width: 576px) {
	.overview_infos-allcolors-colors-bubble {
		height: 50px;
		width: 50px
	}
}

.overview_infos-allcolors-colors-bubble:hover {
	transform: scale(1.1)
}

.overview_infos-description {
	margin: 2em 1em 2em 1.5em;
	text-align: justify
}

.overview_infos-materiaux {
	margin-bottom: 2em;
	margin-right: 05em
}

.overview_infos-materiaux h2 {
	margin-left: 1em;
	font-size: 1.5em;
	font-weight: bold
}

.overview_infos-addcart-button {
	cursor: pointer;
	padding: 0.8em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background-color:floralwhite;
	box-shadow: 1px 1px 5px 0px black
}

@media all and (min-width: 769px) {
	.overview_infos-addcart-button {
		margin-left: 20%;
		margin-right: 20%
	}
}

@media all and (max-width: 769px) {
	.overview_infos-addcart-button {
		margin-left: 15%;
		margin-right: 15%
	}
}

.overview_infos-addcart-button i {
	font-size: 1.5em;
	margin-right: 0.5em
}

.overview_infos-addcart-button p {
	margin: 0
}

.overview_infos-addcart-button:hover {
	background-color: lightyellow
}

.overview_infos-addcart-button:hover i {
	transition: 800ms;
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent
}

@media all and (max-width: 769px) {
	.overview {
		flex-direction: column;
		justify-content: center
	}
	.overview_img {
		margin-left: 5.8%;
		width: 88%
	}
	.overview_img img {
		height: 25em;
		width: 100%
	}
	.overview_infos {
		width: 100%
	}
}

.purchres {
	margin-top: 1em;
	padding-bottom: 1em;
	background-color: lightyellow;
	border-radius: 15px
}

.purchres_real {
	margin-left: 1em;
	margin-right: 1em
}

.purchres_real h2 {
	padding-top: 0.5em;
	margin-left: 0.5em;
	font-size: 1.5em
}

.purchres_real-T {
	display: flex;
	align-items: center
}

.purchres_real-T i {
	margin-top: 0.3em;
	margin-left: -0.4em;
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: bold;
	font-size: 2em;
	-webkit-animation: drive 50s forwards;
	animation: drive 50s forwards;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-delay: 5s;
	animation-delay: 5s
}

.purchres_real_recap {
	margin-top: -2.5em;
	margin-left: 1em;
	min-height: 300px
}

.purchres_real_recap h2 {
	text-align: center
}

.purchres_real_recap h2 span {
	color: #cf7e48
}

.purchres_real_recap-block {
	text-align: center
}

.purchres_real_recap-block p {
	text-align: center;
	margin-bottom: 2em
}

.purchres_real_recap-block_sum {
	border-radius: 15px;
	background-color: #b28dfb;
	box-shadow: 1px 1px 5px 0px #4b08ce
}

.purchres_real_recap-block_sum-bot {
	margin-top: 1em
}

.purchres_real_recap-block_sum-bot p {
	margin-top: 0.5em;
	margin-bottom: 0
}

.purchres_real_recap-block_sum-bot p:nth-child(1) {
	font-weight: bold
}

.purchres_real_recap-block_sum-bot p:nth-child(2) {
	font-size: 1.5em;
	border-radius: 0 0 15px 15px;
	background-color: #dfa985;
	box-shadow: 1px 1px 5px 0px #78431f
}

@media all and (min-width: 992px) {
	.purchres_real_recap-block_sum {
		width: 50%;
		margin-left: 25%
	}
}

.purchres_real_recap-block_sum ul {
	text-align: center;
	margin-left: -3em;
	margin-top: 1em
}

.purchres_real_recap-block_sum li {
	list-style: none
}

.purchres_real_recap-block_sum li:nth-child(1) {
	-webkit-animation: appearsection both 2s;
	animation: appearsection both 2s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

.purchres_real_recap-block_sum li:nth-child(2) {
	-webkit-animation: appearsection both 2s;
	animation: appearsection both 2s;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s
}

.purchres_real_recap-block_sum li:nth-child(3) {
	-webkit-animation: appearsection both 2s;
	animation: appearsection both 2s;
	-webkit-animation-delay: 2s;
	animation-delay: 2s
}

.purchres_real_recap-block_sum li:nth-child(4) {
	-webkit-animation: appearsection both 2s;
	animation: appearsection both 2s;
	-webkit-animation-delay: 2.5s;
	animation-delay: 2.5s
}

.purchres_real_recap-block_sum li:nth-child(5) {
	-webkit-animation: appearsection both 2s;
	animation: appearsection both 2s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s
}

.purchres_real-thanks {
	margin-top: 4em
}

.purchres_real-thanks p {
	font-size: 1em;
	text-align: center
}

.purchres_real_backtoshop {
	margin-bottom: -2em
}

.purchres_real_backtoshop-button {
	display: flex;
	justify-content: center;
	padding: 0.8em;
	margin-top: 1.3em;
	border-radius: 5px;
	background-color: #dfa985;
	box-shadow: 1px 1px 5px 0px #78431f
}

@media all and (max-width: 768px) {
	.purchres_real_backtoshop-button {
		margin-left: 15%;
		margin-right: 15%
	}
	.purchres_real_backtoshop-button h2 {
		font-size: 1em
	}
}

@media all and (min-width: 768px) {
	.purchres_real_backtoshop-button {
		margin-left: 25%;
		margin-right: 25%
	}
}

@media all and (min-width: 992px) {
	.purchres_real_backtoshop-button {
		margin-left: 35%;
		margin-right: 35%
	}
}

.purchres_real_backtoshop-button h2 {
	font-size: 1em;
	margin: 0
}

.purchres_real_backtoshop-button:hover {
	background-color: #dda37d;
	box-shadow: 2px 2px 5px 0px #78431f
}

.purchres_real_backtoshop-button:hover i {
	transition: 800ms;
	background: linear-gradient(-50deg, #915cf9, #cf7e48);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent
}